<div class="flex-shrink-0 p-3 bg-white w-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-5 fw-semibold">List of Categories</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <a class="link-dark rounded" [routerLink]="['/products']">All Products</a>
        </li>
        <li class="mb-1" *ngFor="let item of categoryList">
            <a class="link-dark rounded" [routerLink]="['products/viewall-bycat',item.catName]">{{item.catName}}</a>
        </li>
    </ul>
</div>
<div class="w-100 p-3">
    <a class="btn btn-success" [routerLink]="['/products/create']">{{"+"}} Create New Product</a>
</div>