<p>debouncetime works!</p>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-success"><strong>DebounceTime</strong></div>
            <div class="card-body">
                <label class="form-label" for="search">Search here</label>
                <input type="text" class="form-control" #searchInput name="search">
                <small *ngIf="searchedData!=null">your are searching - <strong><span class="text-success">{{searchedData}}</span></strong></small>
            </div>
            
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header text-success"><strong>DistinctUntilChanged</strong></div>
            <div class="card-body">
                <label class="form-label" for="search">Search here</label>
                <input type="text" class="form-control" #searchInput1 name="search">
                <small *ngIf="searchedData1!=null">your are searching - <strong><span class="text-success">{{searchedData1}}</span></strong></small>
            </div>
        </div>
    </div>
</div>
