<h1>map - Used for transfrom the data before subscribe.</h1>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Map Oprater
            </div>
            <div class="card-body">
                <strong>Data :</strong> <span class="text-success"> {{message}}</span>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Map Oprater
            </div>
            <div class="card-body">
                <strong>Data :</strong>
                <ul id="elContainer"></ul>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Map Oprater
            </div>
            <div class="card-body">
                <strong>Data :</strong> 
                <ul id="elContainer1"></ul>
            </div>
        </div>
    </div>
</div>