<h1>Filter - Used for filter the data.</h1>

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Filtered by name length
            </div>
            <div class="card-body">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Filtered by id
            </div>
            <div class="card-body">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data1">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Filtered by gender
            </div>
            <div class="card-body">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data2">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.gender}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>