<p>rxjs works!</p>
{{promiseVal}}

<div class="row linkContainter">
    <a class="col-3" routerLink="/rxjs/observatble">observatble</a>
    <a class="col-3" routerLink="/rxjs/interval">Interval</a>
    <a class="col-3" routerLink="/rxjs/of-from">Of and From</a>
    <a class="col-3" routerLink="/rxjs/to-array">toArray</a>
    <a class="col-3" routerLink="/rxjs/custom-observable">custom-observable</a>
    <a class="col-3" routerLink="/rxjs/map">map</a>
    <a class="col-3" routerLink="/rxjs/pluck">pluck</a>
    <a class="col-3" routerLink="/rxjs/filter">filter</a>
    <a class="col-3" routerLink="/rxjs/tap">tap</a>
    <a class="col-3" routerLink="/rxjs/take">take</a>
    <a class="col-3" routerLink="/rxjs/retry">retry</a>
    <a class="col-3" routerLink="/rxjs/debouncetime">debounceTime</a>
    <a class="col-3" routerLink="/rxjs/subject">subject</a>
    <a class="col-3" routerLink="/rxjs/replay">replay</a>
    <a class="col-3" routerLink="/rxjs/asyncsubject">async-subject</a>
    <a class="col-3" routerLink="/rxjs/concat-map">concat-map</a>
    <a class="col-3" routerLink="/rxjs/concat">concat</a>
    <a class="col-3" routerLink="/rxjs/marge">marge</a>
    <a class="col-3" routerLink="/rxjs/switch-map">switch-map</a>
    <a class="col-3" routerLink="/rxjs/exhaust-map">exhaust-map</a>
</div>