<p>merge works!</p>

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">Comedy</div>
            <div class="card-body"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">News</div>
            <div class="card-body"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">Movie</div>
            <div class="card-body"></div>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">Stream</div>
            <div class="card-body">
                <ul id="elContainer"></ul>
            </div>
        </div>
    </div>
</div>