<h1>take() oprator</h1>
<div class="bg-light p-3 mb-4">
    <strong>arr = ['mohit','maheshwari','frontend','Angular','rxjs']</strong>
</div>
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                take(3)
            </div>
            <div class="card-body">
                <ul id="elContainer"></ul>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                takeLast(3)
            </div>
            <div class="card-body">
                <ul id="elContainer2"></ul>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                takeUntil(condition)
            </div>
            <div class="card-body">
                <button #stopBtn class="btn btn-danger">Stop</button>

                <ul id="elContainer3"></ul>
            </div>
        </div>
    </div>
</div>